body,ul,p,h1,h2,h3,h4,h5,h6,hr,input,button{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input,button{
    border:none;
    background: none;
    outline: none;
}
img{
    display: block;
}