.wrapper{
  width: 100%;
  background-color: #f7f7f7;
}
.top{
  width: 100%;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #aaa;
}
.top-nav{
  width: 1210px;
  margin: 0 auto; 
  height: 28px;
}
.top-nav>ul li{
  float: left;
  margin-right: 15px;
}
a:hover {
    color: #b44040!important;
    text-decoration: underline;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.top-nav ul li.none {
    margin: 0;
}
.top-nav .t-item {
  float: left;
  padding: 0 10px 0 11px;
  margin-right: 0;
}
.nickname{
  color: #898989;
}
/* 头部分 */
.header {
  width: 1210px;
  margin: 0 auto;
  margin-top: 25px;
}
.header .sub-logo {
    margin: 20px 0 0 70px;
}
.header .search {
    width: 440px;
    margin-top: 20px;
}
.header .search input {
    display: block;
    width: 356px;
    height: 35px;
    padding-left: 8px;
    line-height: 35px;
    background: #f7f7f7;
    border: 1px solid #929292;
    border-right: 0;
}
.header .search .btn {
    background: url('../img/icon.png') no-repeat -88px -86px;
    width: 75px;
    height: 37px;
}
.header .search .btn button {
    background: url('../img/icon.png') no-repeat -88px -86px;
    width: 75px;
    height: 37px;
    border: none;
    cursor: pointer;
}
/* 主导航 */
.width{
  width: 1210px;
  margin: 0 auto;
}
.nav {
    position: relative;
    z-index: 100;
    margin-top: 40px;
}
.nav .all_kinds {
    position: relative;
    cursor: pointer;
}
.nav .all_kinds .tit {
    width: 240px;
    height: 48px;
    padding-left: 8px;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
    background: #000000;
}
.nav .all_kinds i {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 48px;
    background: #b44040;
}
.nav .all_kinds span {
    display: block;
    width: 240px;
    padding-left: 10px;
    text-align: left;
    font-family: "微软雅黑";
}
.nav .kinds-list {
    height: 487px;
}
.nav .kinds-list {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 101;
    display: none;
    width: 228px;
    padding: 0 10px 10px 10px;
    background: #303030;
    color: #fff;
}
.nav .kinds-list .list h3 {
    font: bold 14px/22px "微软雅黑";
    color: #fff;
}
.nav .kinds-list a{
  color: #fff;
  font-family: "微软雅黑";
}
.nav .kinds-list .list {
    margin-top: 5px;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #000;
}
.nav .kinds-list .list_last {
    border-bottom: none;
}
.nav .nav-list {
    width: 786px;
    border-top: 2px solid #000;
}
.nav i.imported {
    position: absolute;
    right: 0;
    top: -15px;
    width: 158px;
    height: 32px;
    background: url(../img/icon.png) no-repeat 0 -195px;
}
.nav .kinds-list .list li {
    float: left;
    margin-right: 12px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
}
.nav .nav-list li {
    float: left;
    line-height: 48px;
}
.nav .nav-list a {
    padding: 0 22px;
    font-size: 16px;
    color: #595959;
    border-right: 2px solid #595959;
    font-family: "微软雅黑";
}
.nav li.none a {
    border-right: 0;
}
/* banner部分 */
/* banner部分 */
.banner{
  position: relative;
  width: 1920px;
  height: 494px;
  overflow: hidden;
  margin-bottom: 40px;
  margin: 0 auto;
}
.banner>ul{
  height: 494px;
  position: absolute;
  /* top: 0;
  left: 0; */
}
.banner>ul li{
  float: left;
  width: 1920px;
  height: 494px;
}
.pagination{
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 19px;
  z-index: 2;
  text-align: center;
}
.pagination .show{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 156px;
  height: 20px;
  line-height: 22px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.404);
}

.pagination .show>a{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  background: #fefefe;
  border-radius: 50%;
}
.pagination .show .active{
  background: #b44040;
}
.pagination .show>span{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url('../img/cur.png') ;
  background-repeat: no-repeat;
}
.pagination .h-icon{
  top: 4px;
  right: 12px;
  width: 15px;
  height: 13px;
  background-position: -49px 0;
  cursor: pointer;
  margin-left: 10px;
}
.page{
  width: 28px;
  height: 62px;
  border: none;
  position: absolute;
  display: none;
  color: #fff;
  background-image: url('../img/icon-new.png');
  background-repeat: no-repeat;
  outline: none;
}
#prev{
  left: 0;
  top: 50%;
  margin-top: -40px;
  border-radius: 0 4px 4px 0;

}
#next{
  background-position: -30px 0;
  right: 0;
  top: 50%;
  margin-top: -40px;
  border-radius: 4px 0 0 4px;
}
.banner:hover .page{
  display: block;
}
/* 主体内容 */
.content{
  width: 1200px;
  margin: 0 auto;
}
.content-prev{
  left: 10px;
  top: 50%;
  margin-top: -40px;
  border-radius: 0 4px 4px 0;
  z-index: 1;
}
.content-next{
  background-position: -30px 0;
  right: 9px;
  top: 50%;
  margin-top: -40px;
  border-radius: 4px 0 0 4px;
  z-index: 1;
}
/* title部分 */
.shopbar{
  margin-bottom: 40px;
  position: relative;
  width: 1210px;
  overflow: hidden;
}
.shopbar .page{
  display: block;
}
.shopbar #prev{
  left: 10px;
}
.shopbar #next{
  right: 12px;
}
.icon-page{
  height: 38px;
}
.icon-page>li{
  float: left;
  width: 13px;
  height: 13px;
  background-color: #aaa;
  margin-right: 5px;
  border-radius: 50%;
  margin-top: 12px;
}
.icon-page .active{
  background: #b44040;
}
.content-box{
  width: 1200px;
  height: 590px;
}
/* 定时器 */
.countdown {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 226px;
  padding-left: 14px;
  height: 25px;
  color: #fff;
  font-size: 12px;
  font-family: "宋体";
  background: #000;
  background: rgba(0, 0, 0, 0.6) !important;
  filter: alpha(opacity=60);
  line-height: 25px;
  text-align: center;
}
.countdown>i {
  position: absolute;
  left: 58px;
  top: 4px;
  width: 15px;
  height: 15px;
  background: url(../img/icon.png) no-repeat -188px -86px;
}
/* 轮播外盒子 */
.content .list-box{
  width: 1200px;
  height: 296px;
  padding-right: 5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
/* ul */
.content .list-con{
  position: absolute;
  height: 604px;
}
.content .list-con.listm{
  height: 302px;
}
/* li */
.content .list-con>li{
  float: left;
  position: relative;
  width: 239px;
  border: 1px solid #e4e4e4;
  margin-right: -2px;
  background: #fff;
}
.shopbar .list-con li.active {
  border: 1px solid #b44040;
  z-index: 1;
}
.shopbox {
  width: 202px;
  height: 293px;
  margin: 0 auto;
}
.shopbox h2 {
  height: 39px;
  font-size: 14px;
  font-family: "宋体";
  font-weight: normal;
  line-height: 1.6em;
  padding: 10px;
  color: #313131;
  overflow: hidden;
}
.shopbox h2 a{
  word-wrap: break-word;
}
.shopbox p {
  padding: 0 10px;
  color: #b44040;
  font: bold 16px '微软雅黑';
}
.shopbox img{
  display: block;
  background: url(../img/wait.gif) no-repeat scroll 50% 50% transparent;
}
.icon-car, .icon-right {
  position: absolute;
  right: 0;
  bottom: 14px;
  width: 36px;
  height: 24px;
  background: #c57474;
  cursor: pointer;
  display: none;
}
.icon-car, .icon-right {
  position: absolute;
  right: 0;
  bottom: 14px;
  width: 36px;
  height: 24px;
  background: #c57474;
}
.icon-car i {
  display: block;
  width: 21px;
  height: 16px;
  margin: 4px 8px;
  background: url(../img/icon-new.png) -60px 0;
  z-index: 1;
}
.icon-right i {
  display: block;
  width: 21px;
  height: 16px;
  margin: 4px 8px;
  background: url(../img/icon-new.png) -60px -19px;
}
.morebox {
  font-size: 14px;
  color: #303030;
  margin-top: 6px;
  margin-right: 10px;
}
.footer{
  width: 1210px;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 40px;
  border-top: 1px solid #ddd;
}
.footer-fl{
  padding-left: 20px;
  margin-right: 30px;
}
.footer-fl>dl{
  width: 165px;
  float: left;
}
.footer-fl>dl dt{
    height: 30px;
    margin-bottom: 10px;
    font: bold 16px/30px "宋体";
    color: #5f5f5f;
}
.footer-fl>dl dd{
  line-height: 24px;
  color: #9c9c9c;
}
.footer-fr .tip{
  width: 130px;
  margin: 0 50px;
}
.footer-fr .tip>dt{
  width: 110px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #606060;
}
.footer .about {
    padding-top: 20px;
}
.footer .about .links, .footer .about .copyright, .footer .about .authentication {
    text-align: left;
    margin-left: 20px;
    line-height: 30px;
    color: #5f5f5f;
}
.footer .about span {
    padding: 10px;
}
.footer .about .copyright span {
    padding-left: 0;
}
.footer .zhongliang_add ul {
    margin: 0 auto;
    padding-top: 5px;
    width: 255px;
    height: 55px;
}
.footer .zhongliang_add .ss1 {
    padding-top: 3px;
}
.footer .zhongliang_add ul li {
    float: left;
    margin-right: 3px;
    height: 48px;
    line-height: 26px;
}
.footer .about .authentication .beian p {
    float: left;
    margin: 0px 0px 0px 5px;
    color: #5f5f5f;
}
.footer .about .authentication .beian img {
    float: left;
    margin: 4px 0px 0px 0px;
}
/* 电梯导航 */
.float-nav {
  /* display: none; */
  z-index: 999;
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 30px;
  margin-left: 615px;
}
.float-nav>ul {
  width: 30px;
  background: #f7f7f7;
}
.float-nav .bgNone {
  line-height: 28px;
  height: 28px;
  text-align: center;
}
.float-nav>ul li.active {
  background: #B54040;
  color: #fff;
}
.float-nav>ul li {
  width: 30px;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.float-nav>ul li a {
  display: block;
  height: 30px;
  color: #666;
  line-height: 1.1em;
  padding: 4px 0;
  font-size: 12px;
  background: url(../img/float-nav-list.gif) no-repeat bottom center;
}
.float-nav>ul li a>span{
  display: block;
  width: 100%;
  height: 100%;
}
.float-nav>ul li a>i{
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 30px;
  font-style: normal;
}